{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title }} {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}
{% block body %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div class="tag">
            {% for tag in post_tags %}
                <span>#{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title}}">
            <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
            <div><time>{{ post.date|date:'d M Y' }}</time></div>
        </article>
    </section>
    <main>
        {{ post.content|linebreaks }}
    </main>
    <section>
        <ul>
                {% for comment in post_comments %}
                    <li>{{ comment.user_name }} <br>"{{ comment.text }}"</li>
                {% endfor %}
        </ul>
    </section>
    <section id="comment-form">
        <h2>Your Comment</h2>
        <form method="post" action="{% url 'post-details' post.slug %}">
            {% csrf_token %}
            {% for field in comment_form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button>Save Comment</button>
        </form>
    </section>
{% endblock %}
